<div id="build-<%- build.id %>" class="panel panel-info">
    <div class="panel-heading">
        <b>Build Name: <a href="#/build/id:<%- build.id %>"><%- build.configuration.name %></a></b>
    </div>
    <div class="panel-body">
        <li><b>Branch Name:</b> <%- build.branchName %></li>
        <li><b>Status:</b> <%- build.status %></li>
        <li><b>State:</b> <%- build.state %></li>
        <li><b>Agent Name:</b> <%- agent.name %></li>
        <li><b>Project Name:</b> <%- build.configuration.projectName %></li>
        <li><b>Launch date:</b> <%- build.launchDate %></li>
        <li><b>Duration:</b> <%- build.duration %></li>
    </div>
</div>