<div id="build-<%- build.id %>" class="panel panel-info buildInfo">
    <div class="panel-heading" data-placement="right" data-toggle="tooltip">
        <b><a href="#/build/id:<%- build.id %>"><%- build.configuration.name %></a></b> [<%- build.launchDate %>]
    </div>
    <div class="panel-body">
        <li><b>Branch Name:</b> <%- build.branchName %></li>
        <li>
            <b>Status: </b><span><%- build.status %></span>
            <% if (build.status.toLowerCase().indexOf('running') != -1) { %><div class="arrow-processing-icon"></div><% }  %>
            <% if (build.status.toLowerCase().indexOf('failure') != -1) { %><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span><% }  %>
            <% if (build.status.toLowerCase().indexOf('success') != -1) { %><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span><% }  %>
            <% if (build.status.toLowerCase().indexOf('cancelled') != -1) { %><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" ></span><% }  %>
        </li>
        <li><b>Agent Name: <a href="#/agent/id:<%- agent.id %>"><%- agent.name %></a></b></li>
        <li><b>Project Name:</b> <%- build.configuration.projectName %></li>
    </div>
</div>
