<div id="build-<%- build.id %>" class="panel panel-info">
    <div class="panel-heading">
        <b>Build Name: <%- build.configuration.name %></b>
    </div>
    <div class="panel-body">
        <li><b>Branch Name:</b> <%- build.branchName %></li>
        <li><b>Status:</b>
            <%- build.status %>
            <% if (build.status.toLowerCase().indexOf('running') != -1) { %><span class="arrow-processing-icon"></span><% }  %>
            <% if (build.status.toLowerCase().indexOf('failure') != -1) { %><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ></span><% }  %>
            <% if (build.status.toLowerCase().indexOf('success') != -1) { %><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" ></span><% }  %>
            <% if (build.status.toLowerCase().indexOf('cancelled') != -1) { %><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" ></span><% }  %>
        </li>
        <li><b>Agent Name:</b> <%- agent.name %></li>
        <li><b>Project Name:</b> <%- build.configuration.projectName %></li>
        <li><b>Launch date:</b> <%- build.launchDate %></li>
        <li><b>Duration:</b> <%- build.duration %></li>
    </div>
</div>