<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Addresses of Available TeamCities
        <span class="caret"></span>
    </button>

</div>

<nav id="current-agent-settings-control" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <h3 id="agent-configuration-label">Agents' configuration:</h3>

            <table>
                <thead>
                <th>
                    Agent's Name
                </th>
                <th>
                    Build for execution
                </th>
                </thead>
                <tbody>
                <% _.each(agents, function(agent) { %>
                <tr>
                    <td>
                        <%= agent.name %>
                    </td>
                    <td>
                        <div class="dropdown dropdown-left-offset">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <%= agent.name %>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <% _.each(buildTypes, function(buildType) { %>
                                <li><a href="#/settings"><%= buildType.buildTypeName %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </td>
                </tr>
                <% }); %>



                </tbody>
            </table>

            <button id="save-settings-current-teamcity-button" type="button" class="btn btn-success">
                Save <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>

        </div>
    </div>
</nav>