<select class="selectpicker show-tick" name="url" id="url-selector"  rv-value="currentUrl.option" style="float: right">
    <% _.each(urlsSetting, function(urlSetting) { %>
        <% if (urlSetting.isCurrent) { %>
            <option selected><%=urlSetting.url %> <%= urlSetting.userName %></option>
        <% } else { %>
            <option><%= urlSetting.url %> <%= urlSetting.userName %></option>
        <% } %>
    <% }); %>
</select>
<span name="status-span" class="<%-getClassesByStatus(state)%>" aria-hidden="true"></span>