

#Build-panel {
    margin-top: 5px; display: table; width: 960px; margin-left: auto; margin-right: auto;
}

.build-history-control {
    width: 900px; margin-left: auto; margin-right: auto;
}

.navbar-header {
    width: 100%;
}

#history-table-panel {
    margin-left: auto; margin-right: auto;
}