<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/infoPages/settings-page.css">
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="lib/socket.io-1.3.5.js"></script>
    <script type="text/JavaScript" src="lib/jquery-1.10.2.min.js"></script>
    <script type="text/JavaScript" src="lib/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="lib/underscore-min.js"></script>
    <script type="text/JavaScript" src="lib/backbone-min.js"></script>
    <title></title>
</head>
<body>

<script type="text/template" id='settings-template'>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Addresses of Available TeamCities
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% _.each(items, function(item) { %>
            <li><a href="#"><%= item.url %></a></li>
            <% }); %>
        </ul>
    </div>

    <nav id="current-agent-settings-control" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <h3 id="agent-configuration-label">Agents' configuration:</h3>

                <table>
                    <thead>
                    <th>
                        Agent's Name
                    </th>
                    <th>
                        Build for execution
                    </th>
                    </thead>
                    <tbody>
                    <% _.each(items, function(item) { %>
                        <% _.each(item.agents, function(agent) { %>
                        <tr>
                            <td>
                                <%= agent.agentName %>
                            </td>
                            <td>
                                <div class="dropdown dropdown-left-offset">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <%= agent.agentName %>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <% _.each(item.builds, function(build) { %>
                                        <li><a href="#"><%= build.buildName %></a></li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    <% }); %>


                    <% _.each(items.agents, function(agent) { %>
                    <tr>
                    <td>
                    <h4><%- agent.agentName %></h4>
                    </td>
                    <td>

                    </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

                <button id="save-settings-current-teamcity-button" type="button" class="btn btn-success">
                    Save <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>

            </div>
        </div>
    </nav>

</script>

<script type="text/javascript">
    $(function () {
        var items = [
            {
                url: "URL 1",
                agents: [{agentName: "URL 1 agent 1"}, {agentName: "URL 1 agent 2"}, {agentName: "URL 1 agent 3"}],
                builds: [{buildName: "URL 1 build 1"}, {buildName: "URL 1 build 2"}, {buildName: "URL 1 build 3"}]
            },
            {
                url: "URL 2",
                agents: [{agentName: "URL 2 agent 1"}, {agentName: "URL 2 agent 2"}, {agentName: "URL 2 agent 3"}],
                builds: [{buildName: "URL 2 build 1"}, {buildName: "URL 2 build 2"}, {buildName: "URL 2 build 3"}]
            },
            {
                url: "URL 3",
                agents: [{agentName: "URL 3 agent 1"}, {agentName: "URL 3 agent 2"}, {agentName: "URL 3 agent 3"}],
                builds: [{buildName: "URL 3 build 1"}, {buildName: "URL 3 build 2"}, {buildName: "URL 3 build 3"}]
            }
        ];
        var template = $("#settings-template").html();
        var bindedTemplate = _.template(template, {items: items});
        $("#current-teamcity-settings-binding-content").html(bindedTemplate);
    });
</script>


<div style="width: 900px; margin-left: auto; margin-right: auto;">
    <div id="settings-block" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Settings:</h3>
        </div>
        <div class="panel-body">
            <div>
                <div id="new-teamcity-connection-settings-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New TeamCity Connection Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="URL"
                                   aria-describedby="sizing-addon3">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="TeamCity's Login"
                                   aria-describedby="sizing-addon3">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="TeamCity's Password"
                                   aria-describedby="sizing-addon3">
                        </div>
                        <button id="save-teamcity-settings-button" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                        </button>
                    </div>
                </div>

                <hr>


                <div class="foobar">

                </div>
                <div id="current-teamcity-settings-binding-content">

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>