.agent-history-control, .build-history-control {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#Agent-panel, #Build-panel {
    margin-top: 5px;
    display: table;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#history-table-panel {
    margin-left: auto;
    margin-right: auto;
}

.navbar-header {
    width: 100%;
}