body {
    width: 100%;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

th, td {
    text-align: center;
}

.home-button {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.table-header {
    text-align: center;
    text-decoration: underline;
}

#progress-bar-animation {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.btn-info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80px;
    height: 35px;
}

#main-container {
    display: flex; margin-left: auto; margin-right: auto; width: 1090px;
}

.agent-column, .build-column {
    margin-left: auto; margin-right: auto; margin-top: 5px; display: table;
}

.agent-column{
    width: 350px
}

.build-column {
    width: 660px;
}

.panel-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.general-buildInfo, .additional-buildInfo, .agentInfo{
    margin: 5px;
}


.second-column {
    margin-top: 5px;
}
.buildInfo{
    height: 180px;
    width:300px;
    float:left;
    margin-left: 12px;
}

.runningState{
    color: orange;
}

.arrow-processing-icon {
    background-image: url(../../images/arrow-processing-icon-black.png);
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 16px;
    height: 16px;
    display: inline-block;
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.agent-history-control, .build-history-control {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#Agent-panel, #Build-panel {
    margin-top: 5px;
    display: table;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#history-table-panel {
    margin-left: auto;
    margin-right: auto;
}

.navbar-header {
    width: 100%;
}

.launch-button {
    padding: 0px 7px 0px 7px;
    font-size: 13px;
}

.glyphicon-ok-circle {
    color: #00D800;
}

.glyphicon-remove-circle {
    color: red;
}

.glyphicon-ban-circle {
    color: #FF9B1A;
}

#additional-builds-panel td{
    text-align: center;
    vertical-align: middle;
}

#wrapper-builds-panel {
    padding-left: 11px;
}