<div id="agent-<%- id %>" class="panel panel-info agent-panel">
    <div class="panel-heading">
        <b>Agent Name: <%- name %></b>
    </div>
    <div class="panel-body">
        <li><b>Connected:</b> <%- status.connected %></li>
        <li><b>Authorized:</b> <%- status.authorized %></li>
        <li><b>Enabled:</b> <%- status.enabled %></li>
        <li><b>Free Space:</b> <%- freeSpace %> Gb
            <button type="button" class="btn btn-success launch-button" aria-label="Left Align"
                    id="launchBuildButton-<%- id %>">
                Fix
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </li>
    </div>
</div>